@import url(/src/styles/global.css);

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.pessoa {
    display: flex;
    width: 90%;
    padding: 50px;
    border: 1px solid;
    border-radius: 10px;
    background-color: var(--primary-color);
    flex-direction: column;
    gap: 50px;
    box-shadow: -5px 10px 20px;
}

.info-content {
    display: flex;
    gap: 30%;
    
}

.info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.agendamentos {
    display: flex;
    width: 90%;
    padding: 50px;
    border: 1px solid;
    border-radius: 10px;
    background-color: var(--primary-color);
    flex-direction: column;
    gap: 50px;
    box-shadow: -5px 10px 20px;
}

.agendamento-content {
    display: flex;
    justify-content: space-between;
}

.agendamento-content span{
    text-align: center;
}

.invisible{
    display: none;
}